###### Requirements with version specifiers ######
pandas>=1.4.2
geopandas>=0.9.0
numpy>=1.22.3
Shapely>=1.7.1
matplotlib>=3.5.1
libpysal>=4.6.2
numba>=0.55.1
Rtree>=1.0.0
sqlalchemy>=1.4.44
psycopg2-binary>=2.9.5
geoalchemy2>=0.12.5
tqdm>=4.66.2